* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;

}

.hide {
    display: none;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    height: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;

}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    overflow: auto;
}

main {
    margin-left: 20%;
    padding-left: 30px;
    padding-top: 15px;
}

.main-header {
    color: #2B2B2B;
    margin-bottom: 25px;
    margin-left: 25px;
    font-size: 32px;
}

.minor-header {
    color: #2B2B2B;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 24px;
}

button {
    border: none;
    background-color: transparent;
}

.navigation {
    background-color: #f1f1f1;
    width: 20%;
    height: 95%;
    position: fixed;
    overflow: auto;
    margin: 15px;
    border-radius: 15px;
    padding: 15px;
}

.section-header {
    font-size: 16px;
    padding: 18px 0 5px 0;
    color: #333333;
}

.navigation-row {
    padding: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 7px;
}

.navigation-id {
    padding: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 7px;
}

.navigation-row a {
    margin-left: 5px;
    color: #333333;

}

.navigation-row:hover {
    background-color: #e0e0e0;
    transition: 0.6s;
    filter: brightness(85%);
}


.task-item {
    width: 350px;
    height: 350px;
    background-color: #FFEB7A;
    padding: 15px;
    border-radius: 15px;
    box-shadow: -8px 9px 14px rgba(0, 0, 0, 0.18);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-setting {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 7px;
}

.task-setting_object {
    padding: 5px;
    display: flex;
    cursor: pointer;
}

.task-header {
    padding: 7px;
    margin-bottom: 7px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: bold;
}

.task-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 15px;
    justify-items: center;
}

.task-item_form {
    height: 490px;
    width: 400px;
    margin-left: 10px;
}

.task-form_row {
    display: flex;
    flex-direction: column;
}

.task-form_label {
    font-size: 18px;
    margin-top: 7px;
}

.task-form_text {
    background-color: #E6D269;
    border: none;
    border-radius: 7px;
    padding: 5px 7px;
    margin-top: 5px;
}

.task-form_description {
    height: 270px;
    resize: none;
}

.task-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.category-form {
    background-color: #e0e0e0;
    border-radius: 7px;
    padding: 7px 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-category_hidden {
    display: none;
}

.add-team_hidden {
    display: none;
}

.add-category-group_hidden {
    display: none;
}

.category-name {
    margin: 7px 0;
    background-color: #d0d0d0;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.category-color {
    border: none;
    background-color: transparent;
    width: 70px;
}

.category-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-setting {
    display: flex;

}

.user-block {
    position: absolute;
    right: 25px;
    top: 8px;
    min-width: 150px;
    background-color: #e0e0e0;
    padding: 10px 17px;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.user-info {
    display: flex;
    align-items: center;
}

.user-hidden {
    display: none;
}

.navigation-row {
    cursor: pointer;
}

.user-profile {
    margin-right: 15px;
}

.user-registration_link {
    font-size: 16px;
    color: #2B2B2B;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.login_link {
    text-decoration: underline;
}

.user-content {
    display: flex;
    align-items: center;
}

.user-content span {
    margin: 0 5px;
}

.user-accordion {
    align-content: center;
}


.registration {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    min-width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.registration-form_row {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.registration-form_input {
    border: none;
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 7px;
    min-width: 310px;
}

.registration-form_label {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 500;
}

.yellow-button {
    background-color: #FFEB7A;
    padding: 7px;
    border-radius: 7px;
    border: #E6D269 3px solid;
    color: #333333;
    font-size: 16px;
}

.yellow-button:hover {
    background-color: #E6D269;
    transition: 0.4s;
}

.registration-link {
    font-size: 14px;
}

.registration-link a {
    color: #2B2B2B;
    text-decoration: underline;
    font-size: 16px;
}

.registration h1 {
    color: #E6D269;

}

.warning {
    position: fixed;
    bottom: 15px;
    right: 15px;
    transform: translate(-15px, -15px);
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    min-width: 350px;
    min-height: 75px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.warning-button {
    margin-top: 10px;
    width: 130px;
}

.add-category-group {
    background-color: #f1f1f1;
    border-radius: 15px;
    padding: 15px;
}

.add-category-group-container {
    margin-left: 30px;
    width: 450px;
}

.add-group_row {
    display: flex;
    flex-direction: column;
}

.add-group_input {
    margin-bottom: 15px;
    border: none;
    padding: 7px 5px;
}

.add-group_input_color {
    border: none;
    margin-left: 5px;
}

.add-group_label {
    margin-bottom: 5px;
}

.add-group_color {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.add-group_button {
    padding: 10px 20px;
    border: none;
    background-color: #FFEB7A;
    border-radius: 7px;
}

.team-addition_form {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    background: #f9f9f9;
    margin: 20px;
}

.team-addition_header {
    background: #FFEB7A;
    padding: 10px;
    margin: -20px -20px 20px -20px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.team_addition_label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.team-addition_input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.team-addition_button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #FFEB7A;
    color: #333;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s;
}

.team-addition_button:hover {
    background: #E6D269;
}

.invite-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.invite_item {
    background: #f1f1f1;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 320px;
}

.invite_header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

.invite-form {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 8px;
}

.invite-btn {
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s;
}

.invite-btn-accept {
    background: #4CAF50;
    color: #fff;
}

.invite-btn:hover {
    background: #43A047;
}

.invite-btn-decline {
    background: #FF5252;
    color: #fff;
}

.invite-btn-decline:hover {
    background: #E53935;
}

.not-found_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
}

.not-found_header {
    font-size: 72px;
    color: #ffcc00;
    margin-bottom: 10px;
}

.not-found_text {
    font-size: 20px;
    margin-bottom: 20px;
}

.not-found_link {
    display: inline-block;
    padding: 12px 24px;
    background: #ffcc00;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    transition: background 0.3s;
}

.not-found_link:hover {
    background: #e6b800;
}

.red {
    border-radius: 5px;
    display: block;
    width: 5px;
    height: 5px;
    background-color: red;
}

.team-addition_summary {
    background-color: #e0e0e0;
    border-radius: 15px;
    border: #d0d0d0 1px solid;
    width: 155px;
    padding: 7px;
    text-align: center;
    margin: 10px 25px;
    cursor: pointer;
}

.team-addition {
    background-color: #f1f1f1;
    width: 33%;
    padding: 10px 5px;
    margin-top: 10px;
    border-radius: 15px;
}

.shared-category_grid {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 60%;
}

.shared-category_add-task {
    width: 400px;
    height: 490px;
    position: fixed;
    right: 40px;
    top: 15%;

}

.shared-category_container {
    display: flex;
    gap: 20px;
    width: 97%;
}


.shared-category_item {
    width: 200px;
    height: 175px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.shared-category_header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.shared-category_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.add-shared-category_title {
    border: none;
    padding: 3px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.add-shared-category_color {
    border: none;
    background-color: inherit;
    width: 70px;

}

.add-shared-category_form {
    margin: 10px 0;
}

.add-shared-category_row {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

a:visited, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.task-box {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 35px;
    background-color: #f1f1f1;
    border-radius: 50%;
    padding: 10px;
    box-shadow: -5px 9px 14px rgba(0, 0, 0, 0.18);
    z-index: 99;
    transition: all 0.3s ease;
}

.chat-icon:hover {
    background-color: #d0d0d0;
    transition: 0.6s;
}

.chat_notifications {
    position: fixed;
    bottom: 75px;
    right: 20px;
    padding: 10px;
    background-color: #FFD700;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    z-index: 101;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.chat_notifications:hover {
    background-color: #E6C200;
    transform: scale(1.05);
}
.chat_container{
    margin: 0 20px;
    height: 85vh;
}


.chat_window{
    height: 80%;
    background-color: #f1f1f1;
    width: 80%;
    overflow-y: auto;
}
.chat-input{
    height: 15%;
}
.chat-input_form{
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.chat-input_button{
    background-color: inherit;
    cursor: pointer;
}

.chat-type{
    margin-top: 10px;
    height: 90%;
    width: 80%;
    resize: none;
    padding: 10px;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;


}
.chat_teams{
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 5%;
    margin-bottom: 10px;
}
.chat-team{
    background-color: #FFEB7A;
    border: #B79C3A 1px solid;
    min-width: 100px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.chat-team:hover, .active-team{
    transition: 0.6s;
    filter: brightness(85%);
}

.chat-empty{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.chat-empty_warning{
    font-size: 1.2em;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.message {
    max-width: 45%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    font-family: Arial, sans-serif;
}

.own-message {
    background-color: #FFEB7A;
    opacity: 0.9;
    align-self: flex-end;
    text-align: right;
    margin-left: auto;
}

.user-message {
    background-color: #EAEAEA;
    align-self: flex-start;
    text-align: left;
    margin-right: auto;
}

.message_sender {
    font-weight: bold;
    margin-bottom: 5px;
}

.message_text {
    font-size: 14px;
}

.message_date {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}










